<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/css/editCreateEvents.css">
    <link rel="stylesheet" href="/style/css/nav.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/helpers/nav.js" defer></script>
    <script src="/script/editEvent.js" defer></script>
    <title>Edit Event</title>
</head>
<body>
    <header>
        <nav id="main-nav">
            <div id="burger-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul id="main-nav-links">
                <li class="main-nav-item"><a id="my-events">My Events</a></li>
                <li class="main-nav-item"><a id="upcoming-events">Upcoming Events</a></li>
                <li class="main-nav-item"><a id="create-event">Create an Event</a></li>
                <li class="main-nav-item"><a id="log">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div id="page-title">Edit Event</div>

    <section>
        <form action="" id="create-edit-events">
            <div id="name-block">
                <label for="event-name">Event Name</label>
                <input type="text" id="name-field" name="name" placeholder="name" required>
            </div>
            <div id="location-block">
                <label for="location">Location</label>
                <input type="text" id="location-field" name="address" placeholder="Location" required>
            </div>
            <div id="status-block">
                <label for="status">Status</label>
                <select name="status" id="status-option" class="dropdown">
                    <option value="0">Active</option>
                    <option value="2">Cancelled</option>
                </select>
            </div>
            <div id="date-start-block">
                <label for="date">Date Start</label>
                <input type="date" id="date-start-field" name="dateStart" placeholder="Date" required>
            </div>
            <div id="date-end-block">
                <label for="date">Date End</label>
                <input type="date" id="date-end-field" name="dateEnd" placeholder="Date" required>
            </div>
            <div id="category-block">
                <label for="category">Event Category</label>
                <select name="category" id="category-option" class="dropdown">
                    <option value="0">All</option>
                    <option value="1">Demonstrations</option>
                    <option value="2">Seminars</option>
                    <option value="3">Meetups</option>
                    <option value="4">Talks</option>
                    <option value="5">Others</option>
                </select>
            </div>
            <div id="description-block">
                <label for="Description">Description</label>
                <textarea id="desc-field" name="description" placeholder="Description" required></textarea>
            </div>

            <div id="delete-submit-block">
                <input type="submit" value="DELETE EVENT" id="delete-button">
                <input type="submit" value="SAVE CHANGES" id="submit-button">
            </div>
            <div id="discard-block">
                <input type="submit" value="discard changes" id="discard-button">
            </div>
        </form>
    </section>
</body>
</html>