@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
$accent-color: #EAAA1D;
// R-400 | M-500 | SB-600 | B-700 | EB-800 | BLACK-900


@mixin font($color, $size, $weight, $height) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
}

@mixin dimension($height, $width) {
    height: $height;
    width: $width;
}

* {
    font-family: 'Montserrat', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    overflow-x: hidden;
    width: 100vw;
    div#page-title {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000000;
        @include dimension(130px, 100vw);
        @include font(#ffffff, 35px, 700, 61px);
    }
    
    section {
        margin: 21px 0 0 0;
        display: grid;
        justify-content: center;
        div#search-bar {
            display: flex;
            justify-content: center;
            margin: auto;
            input#search-field {
                @include dimension(35px, 737px);
                background-color: #ffffff;
                border: 2px solid #000000;
                @include font(#000000, 12px, 400, 22px);
                text-indent: 13px;
                &:focus {
                    border-color: $accent-color;
                    outline: none;
                }
            }
            button#search-button {
                @include dimension(35px, 76px);
                background-color: #000000;
                border: none;
                @include font(white, 13px, 500, 22px);
                cursor: pointer;
                &:active {
                    background-color: #DDDDDD;
                    color: #000000;
                }
            }
        }
        hr#divider {
            display: flex;
            justify-content: center;
            width: 810px;
            margin: -15px auto auto auto;
            border: 2px solid black;
            border-top: transparent;
        }
        
    }
}

@media only screen and (max-width: 860px){
    body {
        section {
            div#search-bar {
                input#search-field {
                    @include dimension(35px, 86vw);
                    @include font(#000000, 12px, 400, 22px);
                }
                button#search-button {
                    @include dimension(35px, 8vw);
                }
            }
            hr#divider {
                width: 93.8vw;
            }
        }
    }
}

@media only screen and (max-width: 650px){
    body{
        
        div#page-title {
            justify-content: left;
            padding-left: 20px;
            @include dimension(80px, auto);
            @include font(white, 20px, 700, 61px);
        }
        section {
            div#search-bar {
                input#search-field {
                    width: 80vw;
                }
                button#search-button {
                    @include font(white, 1.5vw, 500, 22px);
                    
                    &:hover {
                        box-shadow: 0 0 5px #33ffff,
                                    0 0 5px #66ffff;
                    }
                }
            }
            hr#divider {
                margin: 3px auto auto auto;
                width: 87.5vw;
            }
           
        }
        

       
    }
    

}