@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
$accent-color: #EAAA1D;
// R-400 | M-500 | SB-600 | B-700 | EB-800 | BLACK-900

@mixin font($color, $size, $weight, $height) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
}

* {
    font-family:'Montserrat', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
    section {
        h1#title {
            text-align: center;
            @include font(black, 50px, 700, 61px);  
        }
        form#login {
            display: grid;
            justify-content: center;
            #user-label{
                margin-top: 40px;
                @include font(black, 18px, 600, 22px);
            }
            #pass-label {
                margin-top: 20px;
                @include font(black, 18px, 600, 22px);
            }
            
            #user-field, #pass-field {
                margin-top: 10px;
                width: 408px;
                height: 44px;
                border: 2px solid black;
                @include font(black, 16px, 400, 20px);
                text-indent: 10px;
                user-select: none;
                &:focus {
                    border-color: $accent-color;
                    outline: none;
                }
            }

            #submit-button {
                margin-top: 40px;
                width: 408px;
                height: 44px;
                background-color: black;
                border: 2px solid black;
                @include font(white, 16px, 700, 20px);
                cursor: pointer;
                &:active {
                    background-color: white;
                    color: black;
                }
            }
        }
    }
}