@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
$montserrat: 'Montserrat', sans-serif;
// R-400 | M-500 | SB-600 | B-700 | EB-800 | BLACK-900

* {
    font-family: 'Montserrat', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav#main-nav {
    padding: 20px 30px;
    background-color: white;
    ul#main-nav-links {
        list-style: none;
        display: flex;
        gap: 40px;
        li.main-nav-item {
            a {
                color: black;
                font-size: 18px;
                font-weight: 600;
                line-height: 22px;
                opacity: .5;
                text-decoration: none;
                cursor: pointer;
                &:hover {
                    opacity: 1;
                }
            }
            &:nth-child(3) {
                margin-left: auto;
            }
            &:nth-child(4) a {
                color: #FF3535;
            }
        }
    }
    div#burger-menu {
        display: none;
        cursor: pointer;
        span.bar {
            display: block;
            background-color: black;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
    }
}

@media only screen and (max-width: 840px) {
    nav#main-nav {
        ul#main-nav-links {
            display: none;
            gap: 0;
            flex-direction: column;
            li.main-nav-item {
                margin: 15px auto;
            }   
            &.active {
                display: flex;
            }
            
        }

        div#burger-menu {
            display: block;
            &.active {
                margin-top: 10px;
                margin-bottom: 20px;
                .bar:nth-child(2) {
                    opacity: 0;
                }
            }
            &.active {
                .bar:nth-child(1) {
                    transform: translateY(8px) rotate(45deg);
                }
            }
            &.active {
                .bar:nth-child(3) {
                    transform: translateY(-8px) rotate(-45deg);
                }
            }
        }
    }
}