@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

body div#page-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  min-height: 180px;
  color: white;
  font-size: 50px;
  font-weight: 700;
  line-height: 61px;
}

body section#main {
  margin: 30px auto 100px auto;
  max-width: 1164px;
}

body section#main div#search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 10px auto 10px;
  height: 50px;
}

body section#main div#search-bar input#search-field {
  width: 100%;
  background-color: white;
  border: 2px solid black;
  color: black;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-indent: 20px;
}

body section#main div#search-bar input#search-field:focus {
  border-color: #EAAA1D;
  outline: none;
}

body section#main div#search-bar button#search-button {
  min-width: 110px;
  background-color: black;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  cursor: pointer;
}

body section#main div#search-bar button#search-button:active {
  background-color: #DDDDDD;
  color: black;
}

body section#main nav#sub-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 10px auto 10px;
  padding: 0px 10px;
}

body section#main nav#sub-nav div#category-block, body section#main nav#sub-nav #sort-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

body section#main nav#sub-nav div#category-block p#category-label, body section#main nav#sub-nav div#category-block #sort-label, body section#main nav#sub-nav #sort-block p#category-label, body section#main nav#sub-nav #sort-block #sort-label {
  color: black;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

body section#main nav#sub-nav div#category-block select#categories, body section#main nav#sub-nav div#category-block #sort-options, body section#main nav#sub-nav #sort-block select#categories, body section#main nav#sub-nav #sort-block #sort-options {
  width: 160px;
  background-color: white;
  border: none;
  color: black;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

body section#main nav#sub-nav div#category-block select#categories:hover, body section#main nav#sub-nav div#category-block #sort-options:hover, body section#main nav#sub-nav #sort-block select#categories:hover, body section#main nav#sub-nav #sort-block #sort-options:hover {
  cursor: pointer;
}

body section#main nav#sub-nav div#category-block select#categoriesoption, body section#main nav#sub-nav div#category-block #sort-optionsoption, body section#main nav#sub-nav #sort-block select#categoriesoption, body section#main nav#sub-nav #sort-block #sort-optionsoption {
  text-align: center;
}

body section#main nav#sub-nav div#category-block select#sort-options, body section#main nav#sub-nav #sort-block select#sort-options {
  width: 177px;
}

body section#main hr#divider {
  margin: 10px 10px 20px 10px;
  border: 2px solid black;
  border-top: transparent;
}

body section#main section#events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 840px) {
  nav#sub-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
  }
}
