@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body section h1#title {
  text-align: center;
  color: black;
  font-size: 50px;
  font-weight: 700;
  line-height: 61px;
}

body section form#login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body section form#login #user-label {
  margin-top: 40px;
  color: black;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

body section form#login #pass-label {
  margin-top: 20px;
  color: black;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

body section form#login #user-field, body section form#login #pass-field {
  margin-top: 10px;
  width: 408px;
  height: 44px;
  border: 2px solid black;
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-indent: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body section form#login #user-field:focus, body section form#login #pass-field:focus {
  border-color: #EAAA1D;
  outline: none;
}

body section form#login #submit-button {
  margin-top: 40px;
  width: 408px;
  height: 44px;
  background-color: black;
  border: 2px solid black;
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
}

body section form#login #submit-button:active {
  background-color: white;
  color: black;
}

body section #return-button {
  margin: 40px auto 0px auto;
  width: 100%;
  background-color: transparent;
  border: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  opacity: .5;
  cursor: pointer;
}

body section #return-button:hover {
  opacity: 1;
}
