@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav#main-nav {
  padding: 20px 30px;
  background-color: white;
}

nav#main-nav ul#main-nav-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

nav#main-nav ul#main-nav-links li.main-nav-item a {
  color: black;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  opacity: .5;
  text-decoration: none;
}

nav#main-nav ul#main-nav-links li.main-nav-item a:hover {
  opacity: 1;
  cursor: pointer;
}

nav#main-nav ul#main-nav-links li.main-nav-item:nth-child(3) {
  margin-left: auto;
}

nav#main-nav ul#main-nav-links li.main-nav-item:nth-child(4) a {
  color: #FF3535;
}

nav#main-nav div#burger-menu {
  display: none;
  cursor: pointer;
}

nav#main-nav div#burger-menu span.bar {
  display: block;
  background-color: black;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 840px) {
  nav#main-nav ul#main-nav-links {
    display: none;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav#main-nav ul#main-nav-links li.main-nav-item {
    margin: 15px auto;
  }
  nav#main-nav ul#main-nav-links.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav#main-nav div#burger-menu {
    display: block;
  }
  nav#main-nav div#burger-menu.active {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  nav#main-nav div#burger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }
  nav#main-nav div#burger-menu.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  nav#main-nav div#burger-menu.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}
