@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  list-style: none;
  text-decoration: none;
}

#burger-icon {
  position: absolute;
  right: 25px;
  top: 22px;
  height: 30px;
  width: 30px;
  z-index: 999;
  visibility: hidden;
}
#burger-icon:hover {
  box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
}
#burger-icon:hover + nav {
  visibility: visible;
}

#main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 1vw;
  height: 65px;
  width: 100%;
}
#main-nav #event-links, #main-nav #account-links {
  display: flex;
  justify-content: space-between;
  width: 29vw;
  resize: none;
  background-color: none;
}
#main-nav #account-links {
  width: 25vw;
}
#main-nav .main-nav-item a {
  color: #000000;
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
  opacity: 0.5;
}
#main-nav .main-nav-item:hover a {
  opacity: 1;
}
#main-nav .nav-item-1 {
  width: 130px;
}
#main-nav .nav-item-2 {
  width: 210px;
  text-align: center;
}
#main-nav .nav-item-3 {
  width: 190px;
  text-align: center;
}
#main-nav .nav-item-4 {
  width: 90px;
  text-align: right;
  padding: 0 8px 0 0;
}

nav#sub-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  height: 20px;
  width: 1125px;
}
nav#sub-nav #category-dropdown {
  width: 154px;
  background-color: #000000;
  text-align: center;
  visibility: hidden;
}
nav#sub-nav #category-dropdown a {
  color: white;
}
nav#sub-nav ul#event-category {
  margin: auto;
  margin-top: -20px;
}
nav#sub-nav ul#event-category li.sub-nav-item {
  margin: 0 25px 0 0;
  display: inline;
}
nav#sub-nav ul#event-category li.sub-nav-item a {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  opacity: 0.5;
  text-decoration: none;
}
nav#sub-nav ul#event-category li.sub-nav-item:active a {
  opacity: 1;
}

@media only screen and (max-width: 1200px) {
  #main-nav #event-links, #main-nav #account-links {
    width: 300px;
  }
  #main-nav #account-links {
    width: 280px;
  }
  #main-nav .main-nav-item a {
    color: #000000;
    font-size: 19px;
    font-weight: 600;
    line-height: 22px;
    opacity: 0.5;
  }
  #main-nav .main-nav-item:hover a {
    opacity: 1;
  }

  nav#sub-nav {
    width: 93vw;
    padding: 0 0 0 18px;
  }
  nav#sub-nav ul#event-category li.sub-nav-item {
    margin: 0 1vw 0 0;
  }
}
@media only screen and (max-width: 690px) {
  body {
    width: 101vw;
  }
  body #burger-icon {
    visibility: visible;
  }
  body #main-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #000000;
    top: 0;
    padding: 116px 0 0 0;
    right: 0;
    visibility: hidden;
    height: 165px;
    width: 200px;
  }
  body #main-nav:hover {
    visibility: visible;
  }
  body #main-nav #event-links, body #main-nav #account-links {
    position: relative;
    display: flex;
    flex-direction: column;
    top: -40px;
    height: 50px;
    width: 200px;
  }
  body #main-nav #event-links:hover, body #main-nav #account-links:hover {
    visibility: visible;
  }
  body #main-nav .main-nav-item {
    width: 200px;
    text-align: left;
  }
  body #main-nav .main-nav-item a {
    display: block;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    opacity: 1;
    padding: 0 0 0 10px;
    margin: 1px 0 0 0;
  }
  body #main-nav .main-nav-item a:hover {
    visibility: visible;
    box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
  }
  body #main-nav .nav-item-4 {
    padding: unset;
  }
  body nav#sub-nav {
    position: relative;
    margin: 20px 0 0 20px;
    left: 0;
  }
  body nav#sub-nav #category-dropdown {
    visibility: visible;
    height: 20px;
    margin: -1px 0 0 0;
  }
  body nav#sub-nav #category-dropdown:hover + ul {
    visibility: visible;
  }
  body nav#sub-nav #category-dropdown a {
    font-size: 2.5vw;
    letter-spacing: 2px;
    font-weight: 500;
  }
  body nav#sub-nav ul#event-category {
    position: absolute;
    top: 39px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    width: 154px;
    visibility: hidden;
  }
  body nav#sub-nav ul#event-category:hover {
    visibility: visible;
  }
  body nav#sub-nav ul#event-category li.sub-nav-item {
    width: 100%;
  }
  body nav#sub-nav ul#event-category li.sub-nav-item a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    opacity: 1;
    text-decoration: none;
    padding: 0 0 0 7px;
    display: block;
  }
  body nav#sub-nav ul#event-category li.sub-nav-item a:hover {
    box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
  }
}

/*# sourceMappingURL=nav.css.map */
